/**********************************
 *             Forms               ************************************************************************************************************************************************************************************
 **********************************/
input {
  cursor: pointer;
}

input[type=file] {
  width: 20em;
}

select,
input[type=url],
input[type=tel],
input[type=text],
input[type=time],
input[type=week],
input[type=date],
input[type=range],
input[type=month],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
input[type=datetime-local] {
  height: 3rem;
  width: 20em;
  padding: 0 10px;
  color:  var(--main-theme-color);
  border: 4px solid #ccc;
  font-size: 1.2em;
  cursor: text;
}

button,
input[type=reset],
input[type=button],
input[type=submit] {
  height: 3rem;
  width: 20em;
  padding: 0 10px;
  color: var(--text-color);
  border: 4px solid #ccc;
  font-size: 1.2em;
  background-color: var(--tertiary-theme-color);
}

button,
input[type=reset]:hover,
input[type=button]:hover,
input[type=submit]:hover {
  color: var(--tertiary-theme-color);
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
  background-color: var(--text-color);
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

input[type=radio],
input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

select {
  cursor: default;
}

fieldset {
  border-color: var(--text-color);
  margin: 5px;
}

.rounded-corners {
  border-radius: 5px;
}