/**********************************
 *             Media               ************************************************************************************************************************************************************************************
 **********************************/
img {
  width: 100%;
  height: auto;
}

figure {
  display: flex;
  flex-flow: column;
}
figcaption {
  padding-top: 0.5em;
}

audio {
  max-width: 85vw;
  margin: 0.5em;
}