/**********************************
 *          Typography             ************************************************************************************************************************************************************************************
 **********************************/
a {
  font-family: var(--title-font);
  font-weight:100;
  font-size: 1em;
  line-height: 1.210;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: 100;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}
// TODO
.h1,
h1 {
  font-size: 6.592em;
}
.h2,
h2 {
  font-size: 4.236em;
}
.h3,
h3 {
  font-size: 3.516em;
}
.h4,
h4 {
  font-size: 2.618em;
}
.h5,
h5 {
  font-size: 1.875em;
}
.h6,
h6 {
  font-size: 1.618em;
}
p {
  font-family: var(--text-font);
  line-height: 1.618;
  margin: 0 0 1em 0;
  max-width: 65ch;
}
small {
  font-size:0.618em;
}

hr {
  height: .2em;
  border: none;
  background: var(--text-color);
  margin: 2em 0;
  outline: none;
  display: block;
  clear: both;
  width: 100%;
}

q,
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-size: 1.618em;
  font-style: italic;
  text-indent: 1.618em;
  line-height: 1.618;
  margin: 0 0 1em 0;
}
[lang="fr"] q,
[lang="fr"] blockquote {
  quotes: "\00AB" "\00bb";
}
[lang="es"] q,
[lang="es"] blockquote {
  quotes: "\00ab" "\00bb";
}
[lang="ru"] q,
[lang="ru"] blockquote {
  quotes: "\201E" "\201D";
}
[lang="de"] q,
[lang="de"] blockquote {
  quotes: "\201e" "\201d";
}

header,
aside,
main,
section,
article,
footer {
  color: var(--text-color);
  padding: 1rem;
  display: grid;
}