# Important: When adding a new snippet,
# there is a second section halfway down this file
# where you need to null-out the snippet to prevent it from
# appearing in tags or embedded contexts
'.text.html':
  # Skeleton templates
  'Basic Template':
      'prefix': 'basic'
      'body': """
        <!DOCTYPE html>
        <html lang="$1" dir="ltr">
          <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>$2</title>
            <link rel="stylesheet" href="${3:estilos.css}">
            <link href="${4:https://fonts.googleapis.com/css?family=Libre+Baskerville%7CMontserrat}" rel="stylesheet">
          </head>
          <body class="basic">

            <header class="head ${5:sticky-top}">
              $6
            </header>

            <main class="flexCenter">
              $7
            </main>

            <footer class="footer">
              $8
            </footer>

            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
            <script src="functionality.js"></script>
          </body>
        </html>
        """
  # Navbars
  'Horizontal Navbar':
      'prefix': 'horizontal-nav'
      'body': """
        <nav class="flexRow">
          <ul class="flexRow flexCenter flexStart brand">
            <li><a href="${1:index.html}">${2:Brand Name}</a></li>
          </ul>
          <ul class="flexRow flexCenter flexEnd links-hover">
            <li><a href="$3">${4:Link 1}</a></li>
            <li><a href="$5">${6:Link 2}</a></li>
            <li><a href="$7">${8:Link 3}</a></li>
          </ul>
        </nav>
        """


# These null out the snippets so the snippets are not available when in a tag or
# in embedded contexts like <script> and <style>
'.text.html .meta.tag, .text.html .embedded':
  # Skeleton templates
  'Basic template':
    'prefix': 'basic'
  # Navbars
  'Horizontal Navbar':
    'prefix': 'horizontal-nav'
