/**********************************
 *            Sidebar              ************************************************************************************************************************************************************************************
 **********************************/
.btn-sidebar-left,
.btn-sidebar-right {
  height: 2em;
  position: fixed;
  z-index: 2;
  border: none;
  width: auto;
  color: var(--text-color);
  background-color: var(--secondary-theme-color);
}
// TODO
.btn-sidebar-left {
  padding-left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn-sidebar-right {
  padding-right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}